body{
  background-color: #bee4af ;
  margin: 0;
  text-align: center;
}
.main{
  margin: auto;
  margin-top: 20vh;
  background-color: #edf5e1;
  border:2px blue solid;
  border-radius: 30px;
  width:30vw;
  min-height: 25vh;
}

.main h1{
  background: greenyellow;
  height: 7vh;
  font-size: 50px;
}

.main button{ 
  border-radius:20px;
  background-color: rgb(198, 168, 255);
  padding: 5px 50px;
  color:white;
  font-size: 40px;
  border: none;
  outline: none;
  margin:0 20px 0;
  box-shadow: 3px 3px 10px -2px black ;
}
